<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.system.UserMapper">

    <!--建立实体类与数据库表的映射关系-->
    <resultMap id="baseResultMap" type="user">
        <id property="id" column="user_id"></id>
        <result property="email" column="email"></result>
        <result property="userName" column="user_name"></result>
        <result property="station" column="station"></result>
        <result property="password" column="password"></result>
        <result property="state" column="state"></result>
        <result property="companyId" column="company_id"></result>
        <result property="companyName" column="company_name"></result>
        <result property="deptId" column="dept_id"></result>
        <result property="deptName" column="dept_name"></result>
        <result property="managerId" column="manager_id"></result>
        <result property="gender" column="gender"></result>
        <result property="telephone" column="telephone"></result>
        <result property="birthday" column="birthday"></result>
        <result property="degree" column="degree"></result>
        <result property="salary" column="salary"></result>
        <result property="joinDate" column="join_date"></result>
        <result property="orderNo" column="order_no"></result>
        <result property="createBy" column="create_by"></result>
        <result property="createDept" column="create_dept"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateBy" column="update_by"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="remark" column="remark"></result>
    </resultMap>

    <!--查询同一个公司下的所有用户-->
    <select id="findAll" parameterType="string" resultMap="baseResultMap">
            SELECT * FROM pe_User WHERE company_id=#{companyId}
    </select>
    <!--查询一个用户信息-->
    <select id="findById" parameterType="string" resultMap="baseResultMap">
            SELECT * FROM pe_User WHERE user_id=#{id}
    </select>

    <!--添加一个用户-->
    <insert id="save" parameterType="dept">
            INSERT INTO pe_User(
            user_id,dept_id,email,user_name,station,password,
            state,company_id,company_name,dept_name,manager_id,
            gender,telephone,birthday,degree,salary,join_date,
            order_no,create_by,create_dept,create_time,
            update_by,update_time,remark
            )
            VALUES (
             #{id},#{deptId},#{email},#{userName},#{station},#{password},
             #{state},#{companyId},#{companyName},#{deptName},#{managerId},
             #{gender},#{telephone},#{birthday},#{degree},#{salary},#{joinDate},
             #{orderNo}, #{createBy},#{createDept}, #{createTime},
             #{updateBy},#{updateTime},#{remark}
            )
    </insert>

    <!--更新用户-->
    <update id="update" parameterType="dept">
                  UPDATE pe_User SET
                    dept_id=#{deptId},
                    email=#{email},
                    user_name=#{userName},
                    station=#{station},
                    password=#{password},
                    state=#{state},
                    company_id=#{companyId},
                    company_name=#{companyName},
                    dept_name=#{deptName},
                    manager_id=#{managerId},
                    gender=#{gender},
                    telephone=#{telephone},
                    birthday=#{birthday},
                    degree=#{degree},
                    salary=#{salary},
                    join_date=#{joinDate},
                    order_no=#{orderNo},
                    create_by=#{createBy},
                    create_dept=#{createDept},
                    create_time=#{createTime},
                    update_by=#{updateBy},
                    update_time=#{updateTime},
                    remark=#{remark}
                  WHERE user_id=#{id}
    </update>

    <!--删除用户-->
    <delete id="delete" parameterType="string">
           DELETE FROM pe_User WHERE user_id=#{id}
    </delete>

    <!--某一用户所拥有的角色信息-->
    <select id="findUserRole" parameterType="string" resultType="string">
        SELECT role_id FROM pe_role_user where user_id=#{id}
    </select>

    <!--删除某一用户在用户角色中间表关联的数据-->
    <delete id="deleteUserRoleById" parameterType="string">
        DELETE FROM pe_role_user where user_id=#{userid}
    </delete>
    <!---->
    <insert id="saveUserRole" parameterType="map">
        INSERT INTO pe_role_user VALUES(#{userid},#{roleId})
    </insert>


    <!--根据邮箱查询用户信息-->
    <select id="findByEmail" parameterType="string" resultMap="baseResultMap">
        SELECT * FROM pe_User WHERE email=#{email}
    </select>

</mapper>
